* {
  margin: 0;
	padding: 0;
	border: 0;
	font: inherit;
  text-decoration: none;
	vertical-align: baseline;
  box-sizing: border-box;
}

html {
	font-size: 62.5%; /*10px*/
}

body {
  padding: 2rem 3rem;
  background: linear-gradient(43deg, #102d71 0%, #000000 52%, #c12a23 100%);
  color: #fffcf9;
}

section {
  padding-top: 2rem;
}

header img {
  height: 5.5rem;
}

a {
  text-decoration: none;
  color: white;
  font-size: 2rem;
}

h1, h2, p {
  font-size: 2rem;
  text-align: justify;
}

#moviePoster {
  height: 50rem;
}

#movieInfo {
  gap: 2rem;
  align-items: flex-start;
  width: 100%;
  max-width: 70rem;
}

#movieName {
  text-align: center;
  font-size: 2.2rem;
  font-weight: bold;
  padding-bottom: 2rem;
}

#movieOverview {
  font-size: 1.6rem;
  text-align: justify;
}

#keyCode {
  width: 50%;
  max-width: 70rem;
  height: 4rem;
  font-size: 1.6rem;
  text-align: center;
  border-radius: 1rem;
  margin-top: 2rem;
}

#buttonGetMovie {
  width: 50%;
  max-width: 70rem;
  border-radius: 1rem;
  background-color: aliceblue;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  font-size: 2rem;
  cursor: pointer;
  transition: filter 0.3s;
  margin: 2rem;
}

#buttonGetMovie:hover {
  filter: brightness(0.9);
}

.display-flex {
  display: flex;
  align-items: center;
  justify-content: center;
}

.display-flex-column {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: start;
  width: 100%;
}


@media screen and (max-width: 1200px) {
  #movieInfo {
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    width: 100%;
  }
  
  #keyCode {
    width: 100%;
  }

  #buttonGetMovie {
    width: 100%;
  }

  #moviePoster {
    height: 35rem;
  }
}